/* Add this CSS to your styles.css or in your component's CSS-in-JS file */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #333;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-right: 20px;
}

.button {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.namephoto {
  display: flex;
  align-items: center;
}

.user {
  margin-right: 10px;
}

#name {
  font-weight: bold;
}

#userphoto {
  border-radius: 50%;
}

.button1 {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.description {
  border: 2px solid black;
  width: 30%;
  height: 40%;
  margin-left: 35%;
}
.title {
  font-style: bold;
  font-family: "Times New Roman", Times, serif;
}
