/* Add this CSS to your styles.css or in your component's CSS-in-JS file */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #333;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-right: 20px;
}

.button {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.namephoto {
  display: flex;
  align-items: center;
}

.user {
  margin-right: 10px;
}

#name {
  font-weight: bold;
  color: white;
}

#userphoto {
  border-radius: 50%;
}

.button1 {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.description {
  border: 2px solid black;
  width: 30%;
  height: 40%;
  margin-left: 35%;
}
.title {
  font-style: bold;
  font-family: "Times New Roman", Times, serif;
}
/* Styling for the post footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

/* Styling for the username */
p {
  margin-right: 6px;
  font-size: 14px;
  color: #888;
}

/* Styling for the like button */
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-right: 8px;
}

/* Styling for the like button icon */
button::before {
  content: "";
}

/* Styling for the like button when hovered */
button:hover {
  color: #4caf50;
}

/* Styling for the like count */
p.likes {
  font-size: 14px;
  color: #888;
}
.profile {
  margin-left: 800%;
}
